<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <meta charset="utf-8

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BHpython</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css')}}">

<body>
{% include "header.html" %}
  <h1>My web page is about {{ data }} (json)</h1>

</body>

</html>
